body {
    font: 10px "Verdana", sans-serif;
}
.even {
    background-color:#ffffff;
    margin-left:10px;
}
.odd {
    background-color:#f1f5f9;
    margin-left:10px;
}
.highlight {
    background-color:#d5e1ed;
    margin-left:10px;
}
.header {
    background-color:#C5D5A9;/*#C1DAD7;*/
    border-bottom: 1px solid #395d76;/*#6D929B;*/
    margin-left:10px;
}
.editing {
    background-color: lightyellow;
    width: 250px;
    height: 100px;
}
.tablecell {
    border-bottom: 1px solid #C1DAD7;
    border-left: 1px solid #C1DAD7;
}

.icon {
   border:0px solid;
   width: 22px;
   height: 22px;
}

.leftheader {
    background-color:#C5D5A9;/*#C1DAD7;*/
    border-bottom: 1px solid #395d76;/*#6D929B;*/
    margin-left:1px;
}

.gradient {
    height: 70px;
    padding: 4px;
    background: url(/img/gradient.png) 0% 0% repeat-x;
    color: #fc2;
}
