jdk.home=/apps/JVMs/jdk1.6.0
compiler.debug=on
compiler.generate.no.warnings=off
compiler.args=
compiler.max.memory=128m
compiler.target.version=1.5
junit.jar=/opt/netbeans-6.5/platform9/modules/ext/junit-4.5.jar
